@import url('https://fonts.googleapis.com/css?family=Kanit'); /*Google Font - Kanit */
@import url('../css/animated.css'); /*Animaiton CSS */

* {
    box-sizing: border-box;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline-color: rgba(255, 255, 255, .4);
}

:root {
    --bg-main: #374042;
    --bg-work-area: #2c3435;
    --bg-overay: rgba(0, 0, 0, .4);
    --font-family-sans-serif: sans-serif;
    --font-family-kanit: 'Kanit', sans-serif;
    --font-family-monospace: monospace;
    --font-size: 13.33px;
    --font-color: #d4d4d4;
    --border-color: #007a99;
    --border-color-traning: #c55200;
    --padding-space: 1em;
}

/* width */
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.0);
    transition-duration: 1s;
}

::-webkit-scrollbar:active {
    background-color: rgba(0,0,0,.3);
    transition-duration: .15s;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
    /*background-color: rgb(171, 4, 102);*/
}

html,body {
    margin: 0;
	height: 100%;
    background-color: var(--bg-main);
    overflow: hidden;
    font-family: var(--font-family-sans-serif);
    color: var(--font-color);
}

body {
    background-image: url(../img/Logo.png);
    background-position: center;
    background-size: 250px;
    background-repeat: no-repeat;
    animation: fadeIn .25s;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
}

.inline-block {
    display: inline;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.fa-spin {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

.arrow-right {
    display: inline-block;
    position: absolute;
    top: calc(50% - 2px);
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
}

.arrow-right span {
    display: none;
}

.arrow-right span.up {
    transform: translateY(8px);
}


#app-titleBar {
    position: relative;
    display: flex;
    width: 100%;
    height: 30px;
    color: white;
    background-color: rgba(0,0,0,.2);
    -webkit-user-select: none;
    -webkit-app-region: drag;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    transition-duration: .1s;
    z-index: 999999;
}

#app-titleBar span {
    padding-left: 10px;
    line-height: 30px;
}

#app-titleBar .btnArea {
    margin-left: auto;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-app-region: no-drag;
}

#app-titleBar .btnArea button {
    width: 40px;
    height: 100%;
    border: 0px transparent solid;
    color: white;
    background: rgba(0,0,0,0);
    font-size: 19px;
    outline: none;
    transition-duration: .15s;
}

#app-titleBar .btnArea button:hover {
    background: rgba(255,255,255,0.2);
}

#app-titleBar .btnArea button:active {
    background: rgba(0,0,0,0.2);
    transition-duration: 0s;
}

#favicon {
    transform: translateY(5px);
    height: 20px;
}

#app-frame {
    margin-left: 8px;
    display: flex;
    opacity: 0;
    animation-delay: .25s;
    animation-name: fadeIn;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    transition-duration: .1s;
    -webkit-app-region: no-drag;
}

#app-frame button {
    display: inline-block;
    padding: 0 8px;
    height: 100%;
    background: transparent;
    font-family: inherit;
    font-size: var(--font-size);
    color: rgba(255, 255, 255, 0.74);
    border: none;
    outline: none;
    animation: fadeIn .25s;
    transition-duration: .25s;
}

#app-frame button:hover {
    background-color: rgba(255, 255, 255, .15);
}

#app-frame button.active {
    transition-duration: 0s;
    color: white;
    background-color: #1b1d1d;
}

#btn-close:hover {
    background: rgba(255, 0, 0, 0.8);
}

#btn-close:active {
    background: rgba(153, 0, 0, 0.8);
}

#app-contentArea {
    display: none;
    position: relative;
    width: 100%;
    height: calc(100% - 49px);
    animation: zoomInOut .5s;
    transition-duration: .1s;
    overflow: hidden;
}

#app-contentArea .toolsMenu {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: white;
    background-color: var(--bg-main);
    z-index: 50;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#app-contentArea .page {
    padding-top: 50px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg-work-area);
}

#app-contentArea .page .areaPage {
    animation: fadeIn .5s;
}

#modalBackdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-overay);
    z-index: 1000000;
    animation: fadeIn .25s;
}

#modalBackdrop .contain {
    width: 100%;
    height: 100%;
    animation: bounceIn .35s;
}

#modalBackdrop .contain dialog {
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    min-width: 380px;
    background-color: #363b3c;
    color: var(--font-color);
    font-size: 15px;
    border: 1px #646d6f solid;
    border-radius: 2px;
}

#modalBackdrop .contain dialog .dialog-header {
    padding: var(--padding-space);
    border-bottom: 1px #646d6f solid;
}

#modalBackdrop .contain dialog .dialog-header .a-exit {
    position: absolute;
    top: 0;
    right: 0;
    font-family: cursive;
    transform: translate(-15px, 12px);
    cursor: pointer;
}

#modalBackdrop .contain dialog .dialog-header .a-exit:hover {
    color: aliceblue;
}

#modalBackdrop .contain dialog .dialog-content {
    padding: var(--padding-space);
    border-bottom: 1px #646d6f solid;
}

#modalBackdrop .contain dialog .dialog-content p {
    font-size: 14px;
    margin-bottom: 8px;
}

#modalBackdrop .contain dialog .dialog-content input[type="text"] {
    margin-bottom: 8px;
    width: 100%;
    padding: 5px 10px;
    background-color: rgba(255,255,255, .1);
    color: var(--font-color);
    border: 1px #5d5d5d solid;
    transition-duration: .25s;
    cursor: text;
    border-radius: 4px;
}

#modalBackdrop .contain dialog .dialog-footer {
    padding: var(--padding-space);
    text-align: right;
}

#modalBackdrop .contain dialog .dialog-footer button {
    padding: 5px 15px;
    min-width: 100px;
    background-color: rgba(255,255,255, .1);
    color: var(--font-color);
    border: 1px #5d5d5d solid;
    border-radius: 3px;
    transition-duration: .25s;
}

#modalBackdrop .contain dialog .dialog-footer .loadingIcon {
    display: none;
    float: left;
    transform: translateY(5px);
}
#modalBackdrop .contain dialog .dialog-footer .loadingIcon span {
    font-size: 13px;
    margin-left: 7px;
}

#modalBackdrop .contain dialog .dialog-footer button:hover, #modalBackdrop .contain dialog .dialog-content input:hover{
    background-color: rgba(255,255,255, .15);
}

#modalBackdrop .contain dialog .dialog-footer button:active, #modalBackdrop .contain dialog .dialog-content input:active {
    transition-duration: 0s;
    background-color: rgba(255,255,255, .2);
}


#modalBackdrop .contain dialog .dialog-footer button.red {
    background-color: rgba(255, 0, 0, 0.27);
    border: 1px #7d4343 solid;
}

#modalBackdrop .contain dialog .dialog-footer button.red:hover {
    background-color: rgba(255, 0, 0, 0.37);
}

#modalBackdrop .contain dialog .dialog-footer button.red:active {
    transition-duration: 0s;
    background-color: rgba(255, 0, 0, 0.47);
}

#modalBackdrop .contain dialog .dialog-footer button:disabled, #modalBackdrop .contain dialog .dialog-footer button.red:disabled, #modalBackdrop .contain dialog .dialog-content input:disabled {
    background-color: rgba(255,255,255, .05);
    border: 1px #444444 solid;
    color: #b5b5b5;
    cursor: default;
}

#modalBackdrop .clsDislog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.frame-section {
    position: absolute;
    padding: 5px 0;
    min-width: 200px;
    background-color: #1b1d1d;
    box-shadow: 0 0 5px 1px #51757d;
    z-index: 1000;
}

.frame-section .line {
    margin: 1px 0;
    border-top: 1px #313131 solid;
}
.frame-section a {
    display: block;
    padding: 5px 0 5px 20px;
    font-size: var(--font-size);
    color: white;
    transition-duration: .25s;
}

.frame-section a:hover {
    background-color: rgba(255,255,255,.1);
}

.frame-section a.active {
    background-color: rgba(255,255,255,.1);
}

.frame-section a .more-section {
    float: right;
    padding-right: 8px;
    font-size: 16px;
    font-family: monospace;
    transform: translateY(-2px);
}

.frame-section a.disable {
    opacity: .5;
    background-color: unset;
}

.overay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-overay);
    z-index: 500;
    animation: fadeIn .25s forwards;
}

#btn-main-menu {
    position: absolute;
    padding: 5px 8px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
    background: transparent;
    border-radius: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: .25s;
}

#btn-main-menu:hover {
    background-color: rgba(255, 255, 255, .1)
}

#btn-main-menu:active {
    background-color: rgba(255, 255, 255, .3)
}

#tab-option-module {
    margin-left: 54px;
    width: 300px;
    border-left: 1px rgba(0, 0, 0, .2) solid;
}

#tab-option-labelGroup {
    width: 199px;
}

.panel-tab-option {
    position: relative;
    display: flex;
    padding: 10px;
    height: 100%;
    font-size: 12px;
    color: rgba(255,255,255,.85);
    border-left: 1px rgba(0, 0, 0, 0) solid;
    border-right: 1px rgba(0, 0, 0, .2) solid;
    transition-duration: .25s;
}

.panel-tab-option:hover {
    background-color: rgba(255,255,255,.05);
}

.panel-tab-option h3 {
    width: 100%;
    color: white;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition-duration: .25s;
}

.panel-tab-option svg {
    font-size: 20px;
    height: 100%;
    margin-right: 10px;
}

.panel-tab-option .detailArea {
    margin-right: 40px;
    width: calc(100% - 60px);
}

.panel-tab-option.active {
    background-color: white;
    color: rgba(68, 68, 68, 0.85);
    border-left: 1px rgba(0, 0, 0, .2) solid;
}

.panel-tab-option.active h3 {
    color: rgba(68, 68, 68, 0.85);
}

.panel-tab-option.pointing {
    cursor: pointer;
}

.panel-tab-option.pointing:active {
    transition-duration: .1s;
    background-color: rgba(0,0,0,.075);
}

.panel-tab-option.pointing svg {
    font-size: 16px;
}

.panel-tab-option.pointing.disable {
    opacity: .6;
    background: unset;
    cursor: no-drop;
}

.panel-tab-option.pointing .subTxt {
    padding-left: 2px;
}

.btn-panel {
    position: relative;
    display: inline-block;
    padding: 10px;
    height: 100%;
    color: rgba(255,255,255,.85);
    border-right: 1px rgba(0, 0, 0, .2) solid;
}

.btn-panel button {
    position: relative;
    width: 31px;
    height: 31px;
    font-size: 16px;
    color: white;
    background: transparent;
    border-radius: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: .25s;
}

.btn-panel button:hover {
    background-color: rgba(255, 255, 255, .1)
}

.btn-panel button:active {
    transition-duration: .25s;
    background-color: rgba(255, 255, 255, .3)
}

.btn-panel button svg {
    position: absolute;
    top: 50%;
    left: calc(50% + 1px);
    transform: translateX(-50%) translateY(-50%);
}

#label-panel {
    margin-left: auto;
}

.tools-drop-panel {
    position: absolute;
    padding: 5px;
    top: 49px;
    left: 54px;
    max-height: 500px;
    font-size: 15px;
    color: rgba(68, 68, 68, 0.85);
    background-color: white;
    border-left: 1px rgba(0, 0, 0, .2) solid;
    border-right: 1px rgba(0, 0, 0, .2) solid;
    animation: fadeIn .25s forwards;
    z-index: 600;
}

.tools-drop-panel .areaAction {
    max-height: 455px;
    overflow: auto;
 }

.tools-drop-panel .areaAction::-webkit-scrollbar {
    width: 7px;
    height: 13px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.12);
    transition-duration: 1s;
}

.tools-drop-panel .areaAction::-webkit-scrollbar-thumb {
    background-color: rgba(23, 23, 23, 0.2);
    border-radius: 4px;
}

.tools-drop-panel .areaAction::-webkit-scrollbar-thumb:hover {
    background-color: rgba(23, 23, 23, 0.3);
    border-radius: 4px;
}

.tools-drop-panel .areaAction::-webkit-scrollbar-thumb:active {
    background-color: rgba(23, 23, 23, 0.4);
    border-radius: 4px;
}

.tools-drop-panel h4 {
    border-top: 1px #ccc solid;
    padding: 5px 0 0 5px;
    line-height: 25px;
    margin-bottom: 5px;
}

.tools-drop-panel h4 button {
    float: right;
    padding: 4px 15px;
    background-color: #f7f7f7;
    border: 1px #e8e8e8 solid;
    outline: none;
    transition-duration: .25s;
    border-radius: 3px;
}

.tools-drop-panel h4 button:hover {
    transition-duration: .1s;
    background-color: #fff;
    border: 1px #e0e0e0 solid;
}

.tools-drop-panel h4 button:active {
    transition-duration: 0s;
    background-color: #fff;
    border: 1px #e0e0e0 solid;
    box-shadow: 0 0 5px -2px #7d7d7d;
}

.tools-drop-panel a {
    display: flex;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tools-drop-panel a span {
    padding: 5px 10px;
    width: 100%;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tools-drop-panel a button {
    display: none;
    float: right;
    padding: 1px 5px;
    border: none;
    background-color: transparent;
    color: inherit;
    outline: 0;
    cursor: pointer;
    animation: fadeIn .15s;
}

.tools-drop-panel a button:hover {
    color: black;
}

.tools-drop-panel a:hover button  {
    display: block;
}

.tools-drop-panel a:hover{
    background-color: rgba(0,0,0,.1);
}

.tools-drop-panel a.active{
    background-color: rgba(0,0,0,.15);
    color: black;
}

#side-menu {
    position: absolute;
    margin-left: -250px;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: var(--bg-main);
    transition-duration: .25s;
    z-index: 800;
}

#side-menu.active {
    margin-left: 0;
}

#side-menu .btn-cls {
    position: absolute;
    padding: 5px 8px;
    top: 7px;
    right: 8px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    outline: 0;
    border-radius: 100%;
    transition-duration: .25s;
    z-index: 100;
}

#side-menu .btn-cls:hover {
    background-color: rgba(255, 255, 255, .1);
}

#side-menu .btn-cls:active {
    transition-duration: .25s;
    background-color: rgba(255, 255, 255, .3);
}

#side-menu .sideMenuCover {
    width: 100%;
    height: 140px;
    background-color: rgba(0,0,0,.3);
}

#side-menu .menu-area a {
    display: block;
    padding: 10px 10px 10px 15px;
    transition-duration: .25s;
}

#side-menu .menu-area a:hover {
    background-color: rgba(255, 255, 255, .1);
}

#side-menu .menu-area a:active {
    background-color: rgba(255, 255, 255, .3);
}

#side-menu .menu-area a.active {
    background-color: rgba(255, 255, 255, .2);
}

#side-menu .menu-area a svg {
    margin-right: 10px;
}

#footerStatus {
    position: fixed;
    padding: 0 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(255,255,255,.1);
    line-height: 20px;
    font-size: 12px;
    opacity: 0;
    animation-delay: .25s;
    animation-name: fadeInUp;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    transition-duration: .1s;
}